*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(124, 3, 3),rgb(236, 67, 67));
    font-family: sans-serif;
    color: white;
  
}

.content{
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 23px
} 